<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Palettable</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="scripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
  <header>
    <div class="masthead">Palettable</div>
      <div class="nav">
        <ul>
          <li ><a class="home" href="#">Home</a></li>
          <li ><a class="all-palettes" href="#">All Palettes</a></li>
          <li ><a class="newest" href="#">Newest</a></li>
          <li ><a class="top-20" href="#">Top 20</a></li>
        </ul>
      </div>
  </header>
  <body>
    <div class = "flex-container swatch-section"></div>
    <div class="flex-container">
      <div class="button-section">
        <div class="flex-container">
          <div class = "arrow left-arrow"><a href = "#"></a></div>
          <div class="flex-container flex-vertical">
            <button class="pixelated-button" value="pixelated">Pixelated</button>
            <button class="striped-button" disabled="true" value="striped">Striped</button>
          </div>        
          <div class = "arrow right-arrow"><a href = "#"></a></div>
        </div>
      </div>
    </div>
</body>
</html>
